<link rel="stylesheet" href="~/css/header.css" />

<header>
    <img src="~/Images/header_bg.png" id="header-img" />
    <div id="header-wrapper">
        <img src="~/Images/burger_icon.png" id="header-icon"/>


        <a href="#" class="button">Anime Burger </a>

        <a href="#" class="button"><p>TOP</p></a>

        <div class="button">
            <input type="text" id="search" placeholder="Поиск...">
        </div>

        <ul>
            <li>
                <div class="button">
                    <img src="~/Images/slidan.jpg" class="user-icon" />
                    <a href="#" class="dropdown-link"><span>Padj 159</span></a>
                </div>
                <ul>
                    <li class="button">
                        <img src="~/Images/profile-icon.png" class="user-icon" />
                        <a href="#" class="dropdown-link"><span>Профиль</span></a>
                    </li>
                    <li class="button">
                        <img src="~/Images/list-icon.png" class="user-icon" />
                        <a href="#" class="dropdown-link"><span>Списки</span></a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</header>