.auth-action {
    display: flex !important;
}

    .auth-action a {
        padding-left:10px;
        padding-right:10px;
    }

#user-name {
    font-size: 15px !important;
    margin: 0 !important;
    padding-top:14px;

}

#logoutForm {
    margin: 0 !important;
    padding: 0 !important;
}