<link rel="stylesheet" href="~/css/anime-list.css" />


<div id="animes-wrapper">
	@await Html.PartialAsync("Base/AnimeItem")
	@await Html.PartialAsync("Base/AnimeItem")
	@await Html.PartialAsync("Base/AnimeItem")
	@await Html.PartialAsync("Base/AnimeItem")
	@await Html.PartialAsync("Base/AnimeItem")
	@await Html.PartialAsync("Base/AnimeItem")
</div>