@using Application.Models

<link rel="stylesheet" href="~/css/anime-list.css" />


@model ICollection<AnimePageVM>

<div id="animes-wrapper">
	@{
		foreach (var element in Model)
		{
			@await Html.PartialAsync("Base/AnimeItem", element)
		}
	}
</div>