@using Application.Models
@model AnimePageVM

<link rel="stylesheet" href="~/css/anime-item.css" />

<div class="anime-item">
	<img src="@Model.Image.Original" id="anime-image" />
	<a asp-action="Anime" asp-controller="Animes" asp-route-id=@Model.Id  id="name">@Model.Name</a>
	<div id="rating-handler">
		<span id="middle-rating" class="rating">@Model.Score</span>
	</div>
</div>