<link rel="stylesheet" href="~/css/anime-item.css" />

<div class="anime-item">
	<img src="~/Images/gurren_laggan.jpg" id="anime-image" />
	<a href="#" id="name">Gurren laggan</a>
	<div id="rating">
		<span id="middle-rating">9.91</span>
		<span id="user-rating">8.5</span>
	</div>
</div>