<link rel="stylesheet" href="~/css/header.css" />

<header>
    <img src="~/Images/header_bg.png" id="header-img" />
    <div id="header-wrapper">
        <img src="~/Images/burger_icon.png" id="header-icon"/>


        <a href="#" class="button">Anime Burger </a>

        <a asp-action="TopHundred" asp-controller="Animes" class="button"><p>TOP</p></a>

        <form asp-action="Animes" asp-controller="Animes">
            <input  class="submit_on_enter" type="text" name="name" placeholder="Search..." id="search">
        </form>

        <div id="login-info">
            <a asp-action="Bookmarks" asp-controller="User" class="button">
                <img src="~/Images/folder-icon.png" class="user-icon" />
            </a>
            <partial name="_LoginPartial" />
        </div>
    </div>
</header>

<script>
    function handleKeyPress(event) {
        if (event.key === "Enter") {
            // Получаем значение из текстового поля
            var searchText = document.getElementById("search").value;

            // Формируем URL для перехода

            var url = "/Animes/Anime?name=" + encodeURIComponent(searchText);

            // Перенаправляем на новую страницу
            window.location.href = url;
        }
    }
</script>